.menu {
  height: 8rem;
}

.brandColor1 {
  background-color: rgba(48, 28, 57, 255);
}

a {
  text-decoration: none;
  color: rgba(160, 215, 255, 255);
}

img {
  width: 100px;
  transition: 0.8s;
  margin-right: 0;
  padding-right: 0;
}
img:hover {
  width: 110px;
}

.textColor1 {
  color: rgba(48, 28, 57, 255);
  transition: 0.8s;
}

.brandColor2 {
  background-color: rgba(160, 215, 255, 255);
}
.textColor2 {
  text-transform: uppercase;
  font-size: 1rem;
  transform: 0.8s;
  color: rgba(160, 215, 255, 255);
}
